<!-- <h1>INDIVIdual OCCASION</h1>


Title:<input type="text" ng-model="occasion.title" required> 
Occasion Date: <input type="text" name="" id="" placeholder="mm/dd/yyyy" ng-model="occasion.date" required> 
Budget:<input type="integer" ng-model="occasion.budget">
<h3>{{occasion[0].title}}</h3>
<h4>Date: {{occasion[0].date}}</h4>
<h4>Overall Budget: ${{occasion[0].budget}}</h4>
<h4>Purchase Total: ${{total}}</h4>
<div class="occasionButtons">
    <button>EDIT OCCASION</button>
</div>


<h4>Purchases</h4>
<div class="purchaseCard" ng-repeat="purchase in occasionPurchases">
    <h6>Gift Purchased For: {{purchase.recipient}}</h6>
    <h6>{{purchase.name}}</h6>
    {{purchase.description}} <br> 
    ${{purchase.price}} <br>
    <div class="occasionButtons">
        <button>EDIT PURCHASE</button>
    </div>
</div> -->