<div class="homeContainer d-flex flex-row">
    <h1>WELCOME TO <strong>KEEP-UP</strong></h1> <br>
    <div class="loginAndRegister">
        <div class="loginContainer">
            <section>
                <h4>Login</h4>
                <div class="loginForm">
                    Username:
                    <input type="text" class="form-control" value="J" ng-model="userAccount.username">
                    <br> Password:
                    <input type="text" class="form-control" value="j" ng-model="userAccount.password">
                    <br>
                    <button type="button" class="btn btn-secondary" ng-click="login()">LOGIN</button>
                </div>
                <div>

                </div>
            </section>
            <h4>- OR -</h4>
        </div>
        <div class="registrationContainer">
            <h4>Register</h4>
            <section>
                <div class="registerForm">
                    First Name:
                    <input type="text" class="form-control" ng-model="newUserAccount.first_name">
                    <br> Last Name:
                    <input type="text" class="form-control" ng-model="newUserAccount.last_name">
                    <br> Username:
                    <input type="text" class="form-control" ng-model="newUserAccount.username">
                    <br> Email:
                    <input type="text" class="form-control" ng-model="newUserAccount.email">
                    <br> Password:
                    <input type="text" class="form-control" ng-model="newUserAccount.password">
                    <br> Password Confirmation:
                    <input type="text" class="form-control" ng-model="newUserAccount.passwordConfirmation">
                    <br>
                    <button type="button" class="btn btn-secondary" ng-click="register()">Register</button>
                </div>
            </section>
        </div>
    </div>
</div>