<h1>INDIVIdual OCCASION</h1>


<div>
    <div ng-switch="editMode">
        <h6>Occasion:</h6>
        <input ng-switch-when="edit" id="edit" ng-model="occasion[0].title" ng-value="occasion[0].title">
        <h6 ng-switch-default id="{{occasion[0].title}}">{{occasion[0].title}}</h6>

        <h6>Date:</h6>
        <input ng-switch-when="edit" id="edit" ng-model="occasion[0].date" ng-value="occasion[0].date">
        <h6 ng-switch-default>{{occasion[0].date}}</h6>

        <h6>Budget:</h6>
        <input ng-switch-when="edit" type="integer" id="edit" ng-model="occasion[0].budget" ng-value="occasion[0].budget">
        <h6 ng-switch-default>{{occasion[0].budget}}</h6>
        
        <div class="occasionButtons">
            <button ng-switch-default ng-click="getOccasion()">EDIT</button>
            <button ng-switch-default ng-click="deleteOccasion()">DELETE</button>
            <button ng-switch-when="edit" id="edit" ng-click="updateOccasion(occasion[0].id, occasion[0])">SUBMIT</button>
            <button ng-switch-when="edit" id="edit" ng-click="cancelEdit()">CANCEL</button>

    
        </div>
        <h6>Total Spent: {{total}}</h6>
    </div>
</div>



<h4>Purchases</h4>
<div class="purchaseCard" ng-repeat="purchase in occasionPurchases">
    <h6>Gift Purchased For: {{purchase.recipient}}</h6>
    <h6>{{purchase.name}}</h6>
    {{purchase.description}}
    <br> ${{purchase.price}}
    <br>
    <div class="occasionButtons">
        <button>EDIT PURCHASE</button>
    </div>
</div>



<!-- <td>
    <strong id="keyword.name" ng-if="!editMode">{{ keyword.name }}</strong>
    <span ng-if="editMode">
        <input ng-model="keyword.name">
        <button ng-click="save(keyword); editMode = false">Save</button>
        <span>
</td>
<td>
    <button ng-click="editKeyword(keyword); editMode = true">Edit</button>
    <button ng-click="deleteKeyword(keyword)">Delete</button>
</td> -->