<div class="occasionsPageContainer">
    <div>
        <h4>Occasions</h4>
        <a href="/occasions">Upcoming</a>
        <a href="/past-occasions">Past</a>
    </div>
    <div class="individualOccContainer">
        <button>ADD</button>
        <div class="addOccasion">
            Title:<input type="text" required> 
            Occasion Date: <input type="text" name="" id="" value="mm/dd/yyyy" required> 
            Budget:<input type="integer">
        </div>
    </div>
    <div class "occasionCard">
        TODO: This will need to populate with the users existing occasions.
    </div>
</div>