<div class="occasionsPageContainer">
    <div class="individualOccContainer">
        <div class="addOccasion">
            Title:<input type="text" class="form-control" ng-model="occasion.title" required> 
            Occasion Date: <input type="text" class="form-control" name="" id="" placeholder="mm/dd/yyyy" ng-model="occasion.date" required> 
            Budget:<input type="integer" class="form-control" ng-model="occasion.budget">
            <button type="button" class="btn btn-secondary" ng-click="addOccasion(occasion)">ADD OCCASION</button>
        </div>
    </div>
    <div class "occasionCard" ng-repeat="occasion in occasionList">
        <a href="#!/occasions/{{occasion.id}}">
            <h5>{{occasion.title}}</h5>
            <h6>{{occasion.date}}</h6>
            <h6>{{occasion.budget}}</h6>
        </a>
    </div>
</div>