<div class="purchasesHeader">
    <h1>Track Any Purchase!</h1>
</div>
<div class="purchaseContainer">
    <div class="addAndTotal d-flex flex-row align-items-center">
        <div class="addContainer">
            <section class="addPurchaseForm">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Occasion:</label>
                    <select class="form-control" id="exampleFormControlSelect1" ng-model="purchase.occasion_id">
                        <option value="">Select...</option>
                        <option ng-repeat="occasion in occasionList" ng-value="{{occasion.id}}">{{occasion.title}}</option>
                    </select>
                </div>
                <div class="purchaseInputField">
                    Name:
                    <input type="text" class="form-control" ng-model="purchase.name" required>
                </div>
                <div class="purchaseInputField">
                    Recipient:
                    <input type="text" class="form-control" ng-model="purchase.recipient" required>
                </div>
                <div class="purchaseInputField">
                    Price:
                    <input type="text" class="form-control" ng-model="purchase.price" required>
                </div>
                <div class="purchaseInputField">
                    Description:
                    <input type="text" class="form-control" ng-model="purchase.description" required>
                </div>
                <button type="button" class="btn btn-secondary" ng-click="addPurchase(purchase)">TRACK</button>
            </section>
        </div>
        <div class="purchasesTotalAndAlert">
            <div class="noPurchasesAlert" style="margin: 20px 0 25px 25px">
                <div ng-if="!userPurchases" class="alert alert-info" role="alert">
                    <strong>No Purchases have been added yet!</strong> Start budgeting by adding your first Purchase.
                </div>
            </div>
            <div class="totalPurchases">
                <h2><strong>Total Amount Spent On Purchases</strong></h2>
                <h2>${{total}}</h2>
                <i class="far fa-money-bill-alt fa-4x"></i>
            </div>
        </div>
    </div>
    <div class="secondaryPurchaseHeader">
        <h4>All Purchases</h4>
    </div>

    <div class="purchasesContainer d-flex flex-row flex-wrap">
        <div class="purchaseCard" ng-repeat="purchase in purchaseList">
            <div ng-switch="purchaseEditMode">
                <div class="purchaseCardText">
                    <h4 ng-if="!purchase.edit">{{purchase.Occasion.title}}</h4>
                    <select class="form-control" ng-if="purchase.edit" id="exampleFormControlSelect1" ng-model="purchase.occasion_id">
                        <option value="">Select...</option>
                        <option ng-repeat="occasion in occasionList" ng-value="{{occasion.id}}">{{occasion.title}}</option>
                    </select>
                </div>
                <div class="purchaseCardText">
                    <h6><strong>Purchased For</strong></h6> 
                    <input type="text" class="form-control" ng-if="purchase.edit" id="edit" ng-model="purchase.recipient" ng-value="purchase.recipient" required>
                    <h6 ng-if="!purchase.edit">{{purchase.recipient}}</h6>
                </div>

                <div class="purchaseCardText">
                    <h6><strong>Gift</strong></h6>
                    <input type="text" class="form-control" ng-if="purchase.edit" id="edit" ng-model="purchase.name" ng-value="purchase.name" required>
                    <h6 ng-if="!purchase.edit">{{purchase.name}}</h6>
                </div>

                <div class="purchaseCardText">
                    <h6><strong>Description</strong></h6>
                    <input type="text" class="form-control" ng-if="purchase.edit" id="edit" ng-model="purchase.description" ng-value="purchase.description" required>
                    <h6 ng-if="!purchase.edit">{{purchase.description}}</h6>
                </div>

                <div class="purchaseCardText">
                    <h6><strong>Price</strong></h6>
                    <input type="number" min="0.01" step="0.01" class="form-control" ng-if="purchase.edit" id="edit" ng-model="purchase.price" ng-value="purchase.price" required>
                    <h6 ng-if="!purchase.edit">${{purchase.price}}</h6>
                </div>

                <div class="occasionButtons">
                    <button type="button" class="btn btn-secondary btn-sm" ng-if="!purchase.edit" ng-click="getPurchase(purchase)" id="{{purchase.id}}">EDIT</button>
                    <button type="button" class="btn btn-danger btn-sm" ng-if="!purchase.edit" ng-click="deletePurchase(purchase.id)">DELETE</button>
                    <button type="button" class="btn btn-secondary btn-sm" ng-if="purchase.edit" id="edit" ng-click="updatePurchase(purchase.id, purchase)">SUBMIT</button>
                    <button type="button" class="btn btn-light btn-sm" ng-if="purchase.edit" id="edit" ng-click="cancelEdit()">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
</div>