<h1>Purchases</h1>
<section class="addPurchaseForm">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Occasion:</label>
        <select class="form-control" id="exampleFormControlSelect1" ng-model="purchase.occasion_id">
            <option value="">Select...</option>
            <option ng-repeat="occasion in occasionList" ng-value="{{occasion.id}}">{{occasion.title}}</option>
        </select>
    </div>
    <div class="purchaseInputField">
        Name:
        <input type="text" ng-model="purchase.name">
    </div>
    <div class="purchaseInputField">
        Recipient: <input type="text" ng-model="purchase.recipient">
    </div>
    <div class="purchaseInputField">
        Price: <input type="text" ng-model="purchase.price">
    </div>
    <div class="purchaseInputField">
        Description: <input type="text" ng-model="purchase.description">
    </div>
    <button ng-click="addPurchase(purchase)">TRACK</button>
</section>
<div class="occasionContainer">
    <h5>Occasion Details</h5>

</div>