<section>
    <div class="registerForm">
        First Name: <input type="text" ng-model="userAccount.first_name"> <br>
        Last Name: <input type="text" ng-model="userAccount.last_name"> <br>
        Username: <input type="text" ng-model="userAccount.username"> <br>
        Email: <input type="text" ng-model="userAccount.email"> <br>
        Password: <input type="text" ng-model="userAccount.password"> <br>
        Password Confirmation: <input type="text" ng-model="userAccount.passwordConfirmation"> <br>
        <button ng-click="register()">Register</button>
    </div>
</section>