h1 {
  font-family: 'Courgette', cursive; }

.logout {
  text-decoration: none;
  color: #8b8a8a !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-weight: normal; }

.logout:hover {
  color: black;
  text-decoration: none !important; }

.logo {
  font-family: 'Yellowtail', cursive; }

.occasionHeader h1 {
  margin: 20px 20px 0 20px;
  font-family: 'Yellowtail', cursive; }

.occasionsPageContainer {
  background-color: rgba(255, 255, 255, 0.75);
  width: 95%;
  margin: 0 auto; }
  .occasionsPageContainer .individualOccContainer {
    width: 40%; }
    .occasionsPageContainer .individualOccContainer .addOccasion {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      width: 100%;
      padding: 20px;
      margin: 20px 0 0 0; }
      .occasionsPageContainer .individualOccContainer .addOccasion button {
        margin-top: 20px; }
      .occasionsPageContainer .individualOccContainer .addOccasion .form-control {
        margin: 0 0 10px 0; }

.occasionCardContainer {
  width: 90%; }

.occasionCard {
  width: 95%;
  padding: 20px;
  text-decoration: none;
  color: grey;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 20px 20px 20px 40px; }
  .occasionCard h6 {
    padding: 10px;
    padding-right: 0px;
    margin-bottom: 0px;
    font-family: 'Philosopher', sans-serif; }
    .occasionCard h6 strong {
      font-family: 'Philosopher', sans-serif; }
  .occasionCard a {
    text-decoration: none; }
    .occasionCard a .fa-calendar-alt {
      color: #3f5023; }
    .occasionCard a h6 {
      color: black;
      text-decoration: none;
      font-family: 'Philosopher', sans-serif; }
  .occasionCard .occasionTitle {
    width: 40%; }
  .occasionCard .occasionDate {
    width: 30%; }
  .occasionCard .occasionBudget {
    width: 30%; }

a:hover {
  text-decoration: none !important; }

.occasionCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-decoration: none; }

.individualHeader {
  text-align: center;
  margin: 20px 0 20px 0;
  font-family: 'Yellowtail', cursive; }

.individualOccasionCard {
  font-family: 'Philosopher', sans-serif;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 90%; }
  .individualOccasionCard strong {
    text-decoration: underline;
    font-family: 'Yellowtail', cursive; }
  .individualOccasionCard .dataAndNumbers {
    width: 100%;
    position: relative;
    padding: 20px 0 20px 0; }
  .individualOccasionCard .occasionNumbers {
    width: 50%;
    text-align: center; }
  .individualOccasionCard .occasionData {
    width: 50%;
    text-align: center; }
  .individualOccasionCard .occasionButtons {
    margin-top: 20px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0; }
    .individualOccasionCard .occasionButtons a {
      padding: 5px; }

.purchaseCard {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 20px;
  width: 20%;
  padding: 10px;
  position: relative;
  min-height: 350px; }
  .purchaseCard .occasionButtons {
    margin-top: 20px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0; }

.purchaseCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-decoration: none; }

.secondaryHeader {
  margin-top: 35px; }
  .secondaryHeader h2 {
    margin-left: 20px;
    font-family: 'Yellowtail', cursive; }

.purchasesContainer {
  margin: 0 auto; }

.purchasesHeader {
  margin: 20px; }
  .purchasesHeader h1 {
    font-family: 'Yellowtail', cursive; }

.secondaryPurchaseHeader {
  margin: 25px 0 0 20px;
  font-family: 'Yellowtail', cursive; }

.addContainer {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 40%;
  padding: 20px; }
  .addContainer button {
    margin-top: 20px; }
  .addContainer .form-control {
    margin: 0 0 10px 0; }

.purchasesTotalAndAlert {
  width: 90%; }

.totalPurchases {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 75%;
  padding: 20px;
  margin-left: 75px;
  min-height: 300px;
  text-align: center; }
  .totalPurchases h2 {
    margin: 20px;
    font-family: 'Philosopher', sans-serif; }
  .totalPurchases strong {
    font-family: 'Yellowtail', cursive; }

.purchasesTotal h2 {
  font-family: 'Philosopher', sans-serif !important; }

.addAndTotal {
  margin: 25px; }

.purchaseContainer .purchaseCard {
  min-height: 350px; }

.purchaseCardText h4 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Philosopher', sans-serif; }

.homeContainer {
  background-image: url("../images/leaves.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .homeContainer h1 {
    margin: 50px;
    font-size: 70px;
    font-family: 'Philosopher', sans-serif; }
  .homeContainer strong {
    font-family: 'Yellowtail', cursive; }

.homeContainer {
  width: 100%; }

.loginAndRegister {
  width: 35%;
  margin: 0 auto;
  margin-right: 0;
  background-color: rgba(245, 241, 241, 0.75); }
  .loginAndRegister .loginContainer {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 50px; }
    .loginAndRegister .loginContainer h4 {
      margin-top: 25px;
      font-family: 'Philosopher', sans-serif; }
  .loginAndRegister .registrationContainer {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px; }
  .loginAndRegister h4 {
    margin-top: 25px;
    font-family: 'Philosopher', sans-serif; }
