
.logout {
    text-decoration: none;
    color: rgb(139, 138, 138) !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-weight: normal;
}
.logout:hover {
    color: black;
    text-decoration: none !important;
}

//////////////////////// OCCASIONS ////////////////////////////

.noOccasionsAlert {
        margin-left: 20px;
        margin-top: 20px;
        border: 2px solid black;
}

.alert {
    margin-top: 20px !important;
}

.occasionHeader {
    h1 {
        margin: 20px 20px 0 20px;
    }
}

.occasionsPageContainer {
    width: 95%;
    margin: 0 auto;
    .individualOccContainer {
        width: 30%;
        .addOccasion {
            // border: 2px solid black;  
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            width: 100%;
            padding: 20px;
            margin: 20px 0 0 0;
            button {
                margin-top: 20px;
            }
            .form-control {
                margin: 0 0 10px 0;
            }
        }
    }
}

.occasionCardContainer {
    width: 90%;
}

.occasionCard {
    // margin: 0 auto;
    width: 95%;
    // border: 2px solid black;
    padding: 20px;
    text-decoration: none;
    color: grey;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 20px 20px 20px 40px;
    h6 {
        padding: 10px;
        padding-right: 0px;
        margin-bottom: 0px;
    }
    a {
        text-decoration: none;
        .fa-calendar-alt {
            color:rgb(63, 80, 35);
        }
        h6 {
            color: rgb(63, 80, 35);
            text-decoration: none;
        }
        
    }
    .occasionTitle {
        width: 40%;
    }
    .occasionDate {
        width: 30%;
    }
    .occasionBudget {
        width: 30%;
    }
    // box-shadow: 12px 0 15px -4px rgba(99, 98, 97, 0.4);
}

a:hover {
    text-decoration: none !important;
}

.occasionCard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-decoration: none;
}

//////////////////////// INDIVIDUAL OCCASION ////////////////////////////

.individualHeader{
    text-align: center;
    margin: 20px 0 20px 0;
}

.individualOccasionCard {
    strong {
        text-decoration: underline;
    }
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 90%;
    .dataAndNumbers {
        width: 100%;
        position: relative;
        padding: 20px 0 20px 0;
    }
    .occasionNumbers {
        width: 50%;
        text-align: center;
    }
    .occasionData {
        width: 50%;
        text-align: center;        
    }
    .occasionButtons {
        margin-top: 20px;
        padding: 10px;
        position: absolute;
        bottom:0;
        right:0;
        a {
            padding: 5px;
        }
    }
}

.purchaseCard {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 20px;
    width: 20%;
    padding: 10px;
    position: relative;
    min-height: 350px;
    .occasionButtons {
        margin-top: 20px;
        padding: 10px;
        position: absolute;
        bottom:0;
        right:0;
    }
}

.purchaseCard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-decoration: none;
}

.secondaryHeader {
    margin-top: 35px;
    h4 {
        margin-left: 20px;
    }
}

//////////////////////// PURCHASES ////////////////////////////
.purchasesHeader {
    margin: 20px;
}

.secondaryPurchaseHeader {
    margin: 25px 0 0 20px;
}

.addContainer {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 40%;
    padding: 20px;
    // margin: 20px;
    button {
        margin-top: 20px;
    }
    .form-control {
        margin: 0 0 10px 0;
    }
}

.totalPurchases {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 40%;
    padding: 20px;
    margin-left: 75px;
    min-height: 300px;
    text-align: center;
    h2 {
        margin: 20px;
    }
}

.addAndTotal {
    margin: 20px;
}
.purchaseContainer {
    .purchaseCard {
        min-height: 350px;
    }
}