
h1 {
    font-family: 'Courgette', cursive;
}

.logout {
    text-decoration: none;
    color: rgb(139, 138, 138) !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-weight: normal;
}
.logout:hover {
    color: black;
    text-decoration: none !important;
}

//////////////////////// NAV ////////////////////////////

.logo {
    font-family: 'Yellowtail', cursive;
}

//////////////////////// OCCASIONS ////////////////////////////

.occasionHeader {
    h1 {
        margin: 20px 20px 0 20px;
        font-family: 'Yellowtail', cursive;
    }
}

.occasionsPageContainer {
    background-color: rgba(255, 255, 255, 0.75);
    width: 95%;
    margin: 0 auto;
    .individualOccContainer {
        width: 40%;
        .addOccasion {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            width: 100%;
            padding: 20px;
            margin: 20px 0 0 0;
            button {
                margin-top: 20px;
            }
            .form-control {
                margin: 0 0 10px 0;
            }
        }
    }
}

.occasionCardContainer {
    width: 90%;
}

.occasionCard {
    width: 95%;
    padding: 20px;
    text-decoration: none;
    color: grey;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 20px 20px 20px 40px;
    h6 {
        padding: 10px;
        padding-right: 0px;
        margin-bottom: 0px;
        font-family: 'Philosopher', sans-serif;
        strong {
            font-family: 'Philosopher', sans-serif;
        }
    }
    a {
        text-decoration: none;
        .fa-calendar-alt {
            color:rgb(63, 80, 35);
        }
        h6 {
            color: black;
            text-decoration: none;
            font-family: 'Philosopher', sans-serif;
        } 
    }
    .occasionTitle {
        width: 40%;
    }
    .occasionDate {
        width: 30%;
    }
    .occasionBudget {
        width: 30%;
    }
}

a:hover {
    text-decoration: none !important;
}

.occasionCard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-decoration: none;
}

//////////////////////// INDIVIDUAL OCCASION ////////////////////////////

.individualHeader{
    text-align: center;
    margin: 20px 0 20px 0;
    font-family: 'Yellowtail', cursive;

}

.individualOccasionCard {
    font-family: 'Philosopher', sans-serif ;
    strong {
        text-decoration: underline;
        font-family: 'Yellowtail', cursive;
    }
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 90%;
    .dataAndNumbers {
        width: 100%;
        position: relative;
        padding: 20px 0 20px 0;
    }
    .occasionNumbers {
        width: 50%;
        text-align: center;
    }
    .occasionData {
        width: 50%;
        text-align: center;        
    }
    .occasionButtons {
        margin-top: 20px;
        padding: 10px;
        position: absolute;
        bottom:0;
        right:0;
        a {
            padding: 5px;
        }
    }
}

.purchaseCard {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 20px;
    width: 20%;
    padding: 10px;
    position: relative;
    min-height: 350px;
    .occasionButtons {
        margin-top: 20px;
        padding: 10px;
        position: absolute;
        bottom:0;
        right:0;
    }
}

.purchaseCard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-decoration: none;
}

.secondaryHeader {
    margin-top: 35px;
    h2 {
        margin-left: 20px;
        font-family: 'Yellowtail', cursive;
    }
}

//////////////////////// PURCHASES ////////////////////////////

.purchasesContainer {
    margin: 0 auto;
}

.purchasesHeader {
    margin: 20px;
    h1 {
        font-family: 'Yellowtail', cursive;

    }
}

.secondaryPurchaseHeader {
    margin: 25px 0 0 20px;
    font-family: 'Yellowtail', cursive;
}

.addContainer {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 40%;
    padding: 20px;
    button {
        margin-top: 20px;
    }
    .form-control {
        margin: 0 0 10px 0;
    }
}

.purchasesTotalAndAlert {
    width: 90%;
}

.totalPurchases {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 75%;
    padding: 20px;
    margin-left: 75px;
    min-height: 300px;
    text-align: center;
    h2 {
        margin: 20px;
        font-family: 'Philosopher', sans-serif
    }
    strong {
        font-family: 'Yellowtail', cursive;
    }
}

.purchasesTotal {
 h2 {
    font-family: 'Philosopher', sans-serif !important;
    }
}

.addAndTotal {
    margin: 25px;
}
.purchaseContainer {
    .purchaseCard {
        min-height: 350px;
    }
}

.purchaseCardText {
    h4 {
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Philosopher', sans-serif;
    }
}


//////////////////////// HOME ////////////////////////////

.homeContainer {
    background-image: url("../images/leaves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        margin:50px;
        font-size: 70px;
        font-family: 'Philosopher', sans-serif;

    }
    strong {
        font-family: 'Yellowtail', cursive;
    }
}

.homeContainer{
    width: 100%;
}
.loginAndRegister {
    width: 35%;
    margin: 0 auto;
    margin-right: 0;
    background-color: rgba(245, 241, 241, 0.75);
    .loginContainer {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 25px;
        margin-top: 50px;
        h4 {
            margin-top: 25px;
            font-family: 'Philosopher', sans-serif;
        }
    }
    .registrationContainer {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    h4 {
        margin-top: 25px;
        font-family: 'Philosopher', sans-serif;
    }
}

// FONTS USED
// font-family: 'Courgette', cursive;
// font-family: 'Philosopher', sans-serif;
// font-family: 'Marck Script', cursive;
// font-family: 'Glegoo', serif;